@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-white antialiased;
  }
}

/* Custom Safe Area for mobile */
.safe-area-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}